@model KetoRecipeApp.Models.CommentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CommentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CommentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
